body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

p {
	font-weight: 300;
}

.top-bar {
	padding: 0rem;
	background: rgba(0,0,0,0.5) !important;
}

.top-bar li, .top-bar li a {
	background: rgba(0,0,0,0) !important;
}

.top-bar li a:hover {
	background: rgba(0,0,0,0.5) !important;
}

.top-bar-section ul li>a {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 400 !important;
}

#profile-links li>a {
	font-weight: 300 !important;
}

.name img {
	height: 40px;
}

.top-bar ul {
	background-color: transparent;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 2.5em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #777;
	text-transform: uppercase;
	border-bottom: 1px solid #aaa;
	margin-bottom: 1em;
}

.top {
	margin-top: 5em;
}

#headersection {
	background-image: url('http://dailybruin.com/images/2016/02/royce-front.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat;
	color: white;
}

#fullpage #left{
	text-align: left;
}

#fullpage #right{
	text-align: right;
}

#nav {
	background-image: url('http://dailybruin.com/images/2016/02/royce-inside.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat;
}

.pull-quote-right, .pull-quote-left {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.3em;
	width: 75%;
}

.pull-quote-left {
	margin: 0 1em 1em -25%;
	float: left;
	padding-right: 1em;
	text-align: right;
	border-right: 1em solid #aaa;
}

.pull-quote-right {
	margin: 0 -25% 1em 1em;
	float: right;
	padding-left: 1em;
	text-align: left;
	border-left: 1em solid #aaa;
}

@media only screen and (max-width: 40em) {
	.pull-quote-right, .pull-quote-left {
		margin: 0 0 1em 0;
		width: 100%;
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		border-left: 0;
		border-right: 0;
		padding: 1em 0 1em 0;
		text-align: center;
	}
	.main {
	background-color: #0078A0;
	}
}